<h1>Main#about</h1>
<p>Jeremy started playing the cello when he was 9, in 1972. That same year, he gained a scholarship to the Royal College of Music, under the tutelage of 
  <%= link_to "Ivan Andrews", "https://www.youtube.com/watch?v=XVym7gR5qQQ", target: "_blank", rel: "nofollow" %>. By 11, he had achieved Grade 8, by 15 he left most disheartened, not to see a cello again until he was 23. And so he attended the London College of Furniture for three years. After leaving, he apprenticed with Malcolm Healey and Michael Shakespeare. Thirty-three cellos and thirty-one years later he took the bold step and set up this web site.</p>


