<h1>Jeremy Mahrêr Cellos</h1>
<p>Hello</p>
<p> 
  I am Jeremy Mahrêr and I am passionate about cellos. I have been handcrafting cellos
  for thirty-one years, with many of my instruments being played by professional musicians 
  around the world.
</p>
<p>
  As you will see, I have a number of instruments in stock. However, I prefer to work to 
  specific commissions. If you let me know your requirements and your budget, I will work 
  with you to create a cello that fits your musical style.
</p>
<p>
  My stock list will give you an indication of prices, and I will always do my best to
  meet your needs. But please be aware that I must cover the cost of the quality materials I
  use, and that it takes me between --- and --- hours to create a hand crafted cello.
</p>