<section id="page_content">
  <h1>Current Stock</h1>
  <p>
    I currently (July 2017) have three cellos in final stages of construction. I will put
    up some high quality photographs of them as soon as they are available. In the meantime
    here are some images from my workshop.
  </p>
  <p>
    <%= image_tag("IMG_0274.jpeg", alt: "two hand crafted cellos") %>
    <%= image_tag("Unknown-4.jpeg", alt: "overview of cello workshop", class: "right_image") %>
  </p>
  <p>
    <%= image_tag("Unknown-6.jpeg", alt: "close work on a cello") %>
    <%= image_tag("Unknown-11.jpeg", alt: "fine cello detail", class: "right_image") %>
  </p>
</section>

